@using Car_Rental_Portal_Project_MVC.Models.ViewModels.Car;
@using Car_Rental_Portal_Project_MVC.Models.Enums;
@model CarFilterViewModel

    <form asp-controller="Car" asp-action="FilteredCars" method="post" class="needs-validation" novalidate >
    <input asp-for="CarsToFilter" hidden/>
    <div class="form row" >
        <div class="form-group col-md-3">
            <label asp-for="Manufacturer">Manufacturer</label>
            <input asp-for="Manufacturer" class="form-control form-control-sm" placeholder="Manufacturer" value="" required>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Model">Model</label>
            <input asp-for="Model" class="form-control form-control-sm"placeholder="Model" value="" required>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Year">Year</label>
            <input asp-for="Year" class="form-control form-control-sm" placeholder="Year" value="" required min="1900" max="2023">
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Price">Price</label>
            <input asp-for="Price" class="form-control form-control-sm" placeholder="Price" value="" required min="0">
        </div>
    </div>
    <div class="form row">
        <div class="form-group col-md-3">
            <label asp-for="Engine">Engine</label>
            <input asp-for="Engine" class="form-control form-control-sm" placeholder="Engine" value="" required step="0.1" min="1.0">
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Transmission">Transmission</label>
            <select asp-for="Transmission" class="form-control form-control-sm" required>
                <option value="" selected > </option>
                @foreach (var transmissionValue in Enum.GetValues(typeof(TransmissionEnum)))
                {
                    <option value="@transmissionValue">@transmissionValue.ToString()</option>
                }
            </select>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="FuelType">Fuel Type</label>
            <select asp-for="FuelType" class="form-control form-control-sm" id="validationTooltip07" required>
                <option value="" selected > </option>
                @foreach (var fuelTypeValue in Enum.GetValues(typeof(FuelTypeEnum)))
                {
                    <option value="@fuelTypeValue">@fuelTypeValue.ToString()</option>
                }
            </select>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="FuelTank">Fuel Tank</label>
            <input asp-for="FuelTank" class="form-control form-control-sm" placeholder="Tank" value="" required>
        </div>
    </div>
    
    <div class="form row">
        <div class="form-group col-md-3">
            <label asp-for="WheelType">Wheel Type</label>
            <select class="form-control form-control-sm" asp-for="WheelType" required>
                <option value="" selected > </option>
                @foreach (var WheelTypeValue in Enum.GetValues(typeof(WheelTypeEnum)))
                {
                    <option value="@WheelTypeValue">@WheelTypeValue.ToString()</option>
                }
            </select>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Location">Location</label>
            <input asp-for="Location" class="form-control form-control-sm" placeholder="Location" value="" required>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="PeopleAmount">People Amount</label>
            <input asp-for="PeopleAmount" class="form-control form-control-sm" placeholder="People" value="" required min="0">
        </div>
        <div class="form-group col-md-3 mt-3">
            <button type="button" class="btn btn-outline-warning">Submit</button>
        </div>

    </div>

</form>
