@using Car_Rental_Portal_Project_MVC.Models.ViewModels.Car;
@model List<GetCarViewModel>
@foreach (var car in Model)
{
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img src="@car.ImageUrl" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@car.Manufacturer</h5>
                <p class="card-text">@car.Description</p>
                <p class="card-text">@car.Location</p>
                <a asp-controller="Car" asp-action="CarPage" asp-route-id="@car.Id" class="btn btn-warning">View Car</a>
            </div>
        </div>
    </div>
}


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}