@using Car_Rental_Portal_Project_MVC.Models.ViewModels.Car;
@model List<GetCarViewModel>

@foreach (var car in Model)
{
    <div class="col-md-12 p-1" >
        <div class="card h-100 card-depth" style="background-color: #01030f;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="@car.ImageUrl" class="card-img-top" alt="Car Image" style="height: 200px; object-fit: cover;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-primary">@car.Manufacturer</h5>
                        <p class="card-text text-secondary">@car.Description</p>
                        <p class="card-text text-secondary">@car.Location</p>
                        <a asp-controller="Car" asp-action="CarPage" asp-route-id="@car.Id" class="btn btn-warning">View Car</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
