@using Car_Rental_Portal_Project_MVC.Models.ViewModels.Car;
@model GetCarViewModel

<div class="row" style="background: linear-gradient(to right, #010621, #1C2340); color:white;">
    <div class="col-md-8">
        <img src="@Model.ImageUrl" class="img-fluid" alt="Car Image">
    </div>
    <div class="col-md-4" style="background:#010621;">
        <h2 style=" color:darkorange;">@Model.Manufacturer | @Model.Model | @Model.Year</h2>
        <hr>
        <div class="card" style="background:#010621;">
            <div class="card-body" >
                <h5 class="card-title">Car Details</h5>
                <p class="card-text"><strong>Price:</strong> @Model.Price</p>
                <p class="card-text"><strong>Location:</strong> @Model.Location</p>
                <p class="card-text"><strong>Fuel Type:</strong> @Model.FuelType</p>
                <p class="card-text"><strong>Transmission:</strong> @Model.Transmission</p>
                <p class="card-text"><strong>Seats:</strong> @Model.PeopleAmount</p>
            </div>
            <div class="card-footer">
                <h5 class="card-title">Sellers' Info</h5>
                <p class="card-text"><strong>User Name:</strong> @Model.ApplicationUser.Name</p>
            </div>
        </div>
        <hr>
        <form method="post" asp-controller="Car" asp-action="HireCar">
            <button class="btn btn-warning" type="submit">Rent!</button>
        </form>
    </div>
</div>
