@using Car_Rental_Portal_Project_MVC.Models.ViewModels.Car;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> _usermanager;
@model GetCarViewModel

<div class="row" style="background: linear-gradient(to right, #010621, #1C2340); color:white;">
    <div class="col-md-8">
        <img src="@Model.ImageUrl" class="img-fluid" alt="Car Image">
    </div>
    <div class="col-md-4 p-3" style="background:#010621;">
        <h2 style=" color:darkorange;">@Model.Manufacturer | @Model.Model | @Model.Year</h2>
        <a class="btn btn-outline-danger"><i class="bi bi-heart"></i></a>
        <hr>
        <div class="card" style="background:#010621;">
            <div class="card-body">
                <h5 class="card-title">Car Details</h5>
                <p class="card-text"><strong>Price:</strong> @Model.Price</p>
                <p class="card-text"><strong>Location:</strong> @Model.Location</p>
                <p class="card-text"><strong>Fuel Type:</strong> @Model.FuelType</p>
                <p class="card-text"><strong>Fuel Tank:</strong> @Model.FuelTank</p>
                <p class="card-text"><strong>Transmission:</strong> @Model.Transmission</p>
                <p class="card-text"><strong>Seats:</strong> @Model.PeopleAmount</p>
                <p class="card-text"><strong>Engine:</strong> @Model.Engine</p>
                <p class="card-text"><strong>WheelType:</strong> @Model.WheelType</p>
            </div>
            <div class="card-footer">
                <h5 class="card-title">Sellers' Info</h5>
                <p class="card-text"><strong>First Name:</strong> @Model.ApplicationUser.Name</p>
                <p class="card-text"><strong>Last Name:</strong> @Model.ApplicationUser.LastName</p>
                <p class="card-text"><strong>User Name:</strong> @Model.ApplicationUser.UserName</p>
                <p class="card-text"><strong>Phone Number:</strong> @Model.ApplicationUser.PhoneNumber</p>
            </div>
        </div>
        <hr>
        @if (Model.ApplicationUserId == _usermanager.GetUserId(User))
        {
            <p>You Own This Car.</p>
        }else if (!string.IsNullOrWhiteSpace(Model.HiredByUserId))
        {
            <p>Hired Till @Model.HiredTo</p>
        }
        else
        {
            <a asp-controller="Car" asp-action="HireCar" asp-route-id="@Model.Id" class="btn btn-outline-warning" type="submit">Rent!</a>
        }
    </div>
</div>
