@using Car_Rental_Portal_Project_MVC.Models.Enums;
@using Car_Rental_Portal_Project_MVC.Models.ViewModels.Car;
@model UpdateCarViewModel

<h2>Update Your Car.</h2>

<div class="form">
    <form asp-controller="Car" asp-action="UpdateCar" class="form-control" method="post" class="form">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <input asp-for="ImageUrl" />
            <input asp-for="HiredByUserId"  />
            <div class="form-group">
                <label asp-for="Manufacturer">Manufacturer</label>
                <input asp-for="Manufacturer" class="form-control" />
                <span asp-validation-for="Manufacturer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Model">Model</label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Year">Year</label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price">Price</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Engine">Engine</label>
                <input asp-for="Engine" class="form-control" />
                <span asp-validation-for="Engine" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Transmission">Transmission</label>
                <select asp-for="Transmission" class="form-control form-control-sm" id="validationTooltip06" required>
                    <option value="" selected disabled>Select</option>
                    @foreach (var transmissionValue in Enum.GetValues(typeof(TransmissionEnum)))
                    {
                        <option value="@transmissionValue">@transmissionValue.ToString()</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="FuelType">Fuel Type</label>
                <select asp-for="FuelType" class="form-control form-control-sm" id="validationTooltip07" required>
                    <option value="" selected disabled>Select</option>
                    @foreach (var fuelTypeValue in Enum.GetValues(typeof(FuelTypeEnum)))
                    {
                        <option value="@fuelTypeValue">@fuelTypeValue.ToString()</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="FuelTank">FuelTank</label>
                <input asp-for="FuelTank" class="form-control" />
                <span asp-validation-for="FuelTank" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="WheelType">Wheel Type</label>
                <select class="form-control form-control-sm" asp-for="WheelType" required>
                    <option value="" selected disabled>Select</option>
                    @foreach (var WheelTypeValue in Enum.GetValues(typeof(WheelTypeEnum)))
                    {
                        <option value="@WheelTypeValue">@WheelTypeValue.ToString()</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Location">Location</label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description">Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <button type="submit" class="btn btn-success form-control">UpdateCar</button>
            </div>

        </div>
    </form>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}