@using AutoMapper;
@using Car_Rental_Portal_Project_MVC.Models.ViewModels.Account;
@using Car_Rental_Portal_Project_MVC.Models.ViewModels.Car;
@inject IMapper _mapper;
@model ProfileViewModel

<div class="row">
    <div class="col-12">
        <h4 class="display-6">
            Welcome To Your Profile
        </h4>
    </div>
    <hr />
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-dark text-white">
                <h5 class="text-center text-black">
                    @Model.Username
                </h5>
            </div>
            <div class="card-body">
                <h6>Information:</h6>
                <p>Username: @Model.Username</p>
                <p>Full Name: @Model.Name @Model.LastName </p>
                <p>Email: @Model.Email</p>
                <p>Phone: @Model.PhoneNumber</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-warning">Edit Profile</a>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="col-12">
            <h5 class="text-center display-5">
                Your Cars
            </h5>
            <!-- Button For Adding Cars. -->
        </div>
        <div class="row">
            @if (Model.OwnCars.Count > 0)
            {
                <partial name="_CarFilterPartial" model="new CarFilterViewModel() {CarsToFilter = Model.OwnCars.ToList()}" />
                @foreach (var car in Model.OwnCars)
                {

                    <div class="col-4">
                        <img src="@car.Id" class="card-img-top" alt="Car Image">
                        <div class="card-body">
                            <h6 class="card-title">@car.Manufacturer | @car.Model | @car.Year</h6>
                            <p class="card-text">@car.Description</p>
                            @if (!string.IsNullOrWhiteSpace(car.HiredByUserId))
                            {
                                <p>Hired.</p>
                            }
                            else
                            {
                                <p>Open for rent.</p>
                            }
                        </div>
                    </div>
                }
                <a style="font-size:64px;color:black; display:contents" class="bi bi-plus-square ms-1" asp-controller="Car" asp-action="AddCar"></a>
            }
            else
            {
                <a style="font-size:64px; color:black; display:contents" class="bi bi-plus-square ms-1" asp-controller="Car" asp-action="AddCar"></a>
            }
        </div>
    </div>
</div>
