@using AutoMapper;
@using Car_Rental_Portal_Project_MVC.Models.ViewModels.Account;
@using Car_Rental_Portal_Project_MVC.Models.ViewModels.Car;
@inject IMapper _mapper;
@model ProfileViewModel

<div class="row">
    <div class="col-12 text-white">
        <h4 class="display-4 text-center">
            Welcome to Your Profile
        </h4>
    </div>
    <hr class="text-white" />
    @*===================================================================*@
    <div class="col-md-4">
        <div class="card text-center" style="background-color: #01030f;">
            <div class="card-body">
                <h5 class="card-title text-white">Profile Information</h5>
                <div class="form-group">
                    <label class="text-muted text-white font-size-large">Username:</label>
                    <p class="form-text text-white font-size-medium text-left">@Model.Username</p>
                </div>
                <div class="form-group">
                    <label class="text-muted text-white font-size-medium">Full Name:</label>
                    <p class="form-text text-white font-size-small text-left">@Model.LastName</p>
                </div>
                <div class="form-group">
                    <label class="text-muted text-white font-size-medium">Email:</label>
                    <p class="form-text text-white font-size-small text-left">@Model.Email</p>
                </div>
                <div class="form-group">
                    <label class="text-muted text-white font-size-medium">Phone:</label>
                    <p class="form-text text-white font-size-small text-left">@Model.PhoneNumber</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Edit Profile</a>
                </div>
            </div>
        </div>
        @*===================================================================*@
    </div>
    <div class="col-md-8">
        <div class="col-12 text-white">
            <h5 class="text-center display-5">
                Your Cars
            </h5>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @if (Model.ApplicationCars.Count > 0)
            {
                @foreach (var car in Model.ApplicationCars)
                {
                    <div class="col">
                        <div class="card h-100">
                            <img src="@car.ImageUrl" class=" card-img-top" alt="Car Image">
                            <div class="card-body">
                                <h6 class="card-title">@car.Manufacturer | @car.Model | @car.Year</h6>
                                <p class="card-text">@car.Description</p>
                                @if (!string.IsNullOrWhiteSpace(car.HiredByUserId))
                                {
                                    <p>Hired.</p>
                                }
                                else
                                {
                                    <p>Open for rent.</p>
                                }
                            </div>
                            <div class="card-footer">
                                <a asp-controller="Car" asp-action="UpdateCar" asp-route-id="@car.Id" class="btn btn-warning">Edit Car</a>
                            </div>
                            <div class="text-center">
                                <form asp-controller="Car" asp-action="DeleteCar" asp-route-id="@car.Id">
                                    <button type="submit" onclick="return confirm('Are you sure that you want to delete this role?')" class="btn btn-danger">
                                        Delete
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
                <div class="col">
                    <a asp-controller="Car" asp-action="AddCar" class="profilecard card card-add">
                        <div class="card-body">
                            <i class="bi bi-plus-square"></i>
                        </div>
                    </a>
                </div>
            }
            else
            {
                <div class="col">
                    <a asp-controller="Car" asp-action="AddCar" class="profilecard card card-add" class="card card-add">
                        <div class="card-body">
                            <i class="bi bi-plus-square"></i>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>